body {
    font-family: 'Georgia', serif;
    font-size: 16px;
    margin: 30px;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .left-part,
.container .right-part {
    flex-grow: 1;    
}

del {
    background: #ffe6e6;
}

ins {
    background:#e6ffe6;
}

.result-table,
.result-table table {
    width: 100%;
}

#orgOneLogin .slds-form-element.cm-select,
#orgTwoLogin .slds-form-element.cm-select {
    width: 10rem;
}

#orgOneLogin .cm-controls,
#orgTwoLogin .cm-controls {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.cm-label ,#compare {
    text-align: center;
}