{% extends "layout.html" %}
{% block body %}
<h2>Compare classes</h2>
<form action="{{ url_for('compare_classes') }}" method="post">
    <fieldset>
        <legend>Select classes to compare</legend>
        {% for o in options %}
            <div>
                <input type="checkbox" id="{{ o.Id }}"  name="classes" value="{{ o.Name }}" />
                <label for="{{ o.Id }}">{{ o.Name }}</label>
            </div>
            
        {% endfor %}
        <!--<input type="checkbox" name="all-classes" value="Compare all classes" />Compare all classes<br />-->
    </fieldset>

    <button type="submit">Submit</button>    
</form>
{% endblock %}