{% extends "layout.html" %}
{% block body %}
    
    {% if user_name %}
    <p>Hello, <span>{{user_name}}</span><a href="/logout?org=secondary">Logout</a></p>
    <ul>
    <li><a href="{{ url_for('compare_classes') }}">Compare classes</a></li>
    <!--li><a href="{{ url_for('compare_aura') }}">Compare aura</a></li-->
    </ul>


    {% else %}
    <p>Login with Salesforce</p>
	<select id="org_env" name="org_env">
        <option value="Production">Production</option>
        <option value="Sandbox">Sandbox</option>
    </select>
    <button id="secondary-login">Click</button>
    <input type="hidden" id="client-id" value="{{client_key}}" />
    {% endif %}

{% endblock %}